*
{
	margin: 0;
	padding: 0;
}
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;

}
.navbar-brand img
{
	height: 90px;
	padding-left: 30px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	float: right;
	text-align: left;
}
#navbar ul li a:hover
{
	color: #000000!important;
}
.navbar
{
	background: #fff; 
}
.navbar-toggler
{
	border: none!important;
}
.nav-link
{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
	font-family: 'Crimson Text', serif;
}

.carousel-caption
{

	top: 50%;
	transform: translateY(-50%);
	bottom: initial!important;
}
.carousel-caption h5
{
	color: #E5E5E5;
	font-size: 42px;
	font-family: 'Crimson Text', serif;
	padding-right: 15px;
	


}

#About 
{	text-align: center;
	padding-top: 50px;
	padding-bottom: 140px;
	color: #555;
	font-family: 'Crimson Text', serif;
	font-size: 22px;

}
#about .btn
{
	margin-top: 20px;
	margin-bottom: 30px;
}
.about-content
{	text-align: left;
	padding-top: 20px;
	font-size: 22px;
	
}

#Experience
{
	background-image: linear-gradient(rgba(0,0,0,0.8), rgba(41, 85, 242)), url(images/experience.jpg);
	background-size: cover;
	background-position: center;
	color: #efefef!important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}

#experience h1
{
	text-align: center;
	color: #efefef!important;
	padding-bottom: 10px;
	font-family: 'Crimson Text', serif; 

}
#experience h1::after
{
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 140px;
	margin: 20px auto 5px;
}
.experience
{
	margin-top: 40px;
}
#Projects
{
	background-image: linear-gradient(rgba(0,0,0,0.8), rgba(41, 85, 242)), url(images/experience.jpg);
	background-size: cover;
	background-position: center;
	color: #efefef!important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}
#projects h1
{
	text-align: center;
	color: #efefef!important;
	padding-bottom: 10px;
	font-family: 'Crimson Text', serif; 

}
#projects h1::after
{
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 140px;
	margin: 20px auto 5px;
}
.projects
{
	margin-top: 40px;
}
.img
{
	height: 140px;
}
#contact
{
	padding-top: 10px;
	padding-bottom: 20px;
	color: #fff;
	font-family: 'Crimson Text', serif; 
	
}
h1{
	text-align: center;
	color: #555!important;
	
	font-family: 'Crimson Text', serif; 
}
h1::after
{
	content: '';
	background: #555;
	display: block;
	height: 3px;
	width: 70px;
	margin: 20px auto 5px;

}
.image
{
	height: 270px;
	width: 270px;
	opacity: 1;
	display: block;
	margin: 10px auto;
	
}	

#Contact 
{
	background: #efefef;
	padding-top:40px;
	padding-bottom: 40px;
	color: #777;
}
.contact-form
{
	padding:12px;
}
.form-control
{
	border-radius: 0 !important;
	border: none !important;
}
::placeholder
{
	color: #999 !important;
}
.follow
{	
	background: #fff;
	padding: 10px;
	margin: 10px;
	border-radius: 0 !important;
	border: none !important;

}
.contact-info .fa
{
	margin: 10px;
	color: #007bff;
	font-weight: bold;
}

#Footer
{
	background: #000000;
	color: #6DFFFF;
	padding: 12px;
	font-family: 'Crimson Text', serif; 

}

.fa-heart-o
{
	margin: 3px;
	color:red;
}

.a-color{
	color: yellow;
}

.a-color:hover{
	color: #ffffff;
}

.arrow1 {
	animation: slide1 1s ease-in-out infinite;
	margin-left: 9px;
  }

  

@keyframes slide1 {
	0%,
	100% {
	  transform: translate(0, 0);
	}
  
	50% {
	  transform: translate(10px, 0);
	}
  }


  /*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
#myBtn {
	display: inline-block;
	background-color:#0563bb;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 10px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, 
	  opacity .5s, visibility .5s;
	/* opacity: 0; */
	/* visibility: hidden;  */
	 z-index: 1000; 
  }
  #myBtn:after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
  }
  #myBtn:hover {
	cursor: pointer;
	background-color: #333;
  }
  #myBtn:active {
	background-color: #555;
  }
  #myBtn.show {
	opacity: 1;
	visibility: visible;
  }


  
/* Contact */


  .error-message {
	display: none;
	color: #fff;
	background: #ed3c0d;
	text-align: left;
	padding: 15px;
	font-weight: 600;
  }
  
.error-message br + br {
	margin-top: 25px;
  }
  

  .sent-message {
	display: none;
	color: #fff;
	background: #18d26e;
	text-align: center;
	padding: 15px;
	font-weight: 600;
  }


  .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
  }
  
  .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #18d26e;
	border-top-color: #eee;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
  }

  
  @-webkit-keyframes animate-loading {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes animate-loading {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  

  .set {
	/* display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 30px;
	box-shadow: 0 0 2px #888;
	padding: 0.5em 0.6em;
	transition: all 0.3s ease-in-out;
	float: left; */


	font-size: 20px;
	color: #0563bb;
	float: left;
	width: 50px;
	height: 50px;
	background: #eef7ff;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
  }

